@keyframes fireAnimation {
  0% {
    transform: translateX(0); /* Start from the left */
  }
  100% {
    transform: translateX(
      calc(100vw - 100%)
    ); /* Move to the rightmost position */
  }
}

.animate-fire {
  animation: fireAnimation 0.5s linear forwards; /* Adjust duration as needed */
}
